#project-list {
    display: grid;
    grid-template-columns: 35% 35% 35%;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;
    margin: 80px;
}


.project-wrapper{
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.project-info {
  padding: 0;
}


