@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Comfortaa:wght@300&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Montserrat:wght@900&family=Open+Sans:wght@300&family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Comfortaa:wght@300&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Montserrat:wght@900&family=Open+Sans:wght@300&display=swap');

:root {
    --main-font: 'Raleway', sans-serif;
}




body {
    background-color: #ffffff;
    font-family: var(--main-font);
}





h1 {
    font-family: var(--main-font);
    text-decoration: none;
    font-size: 4rem;
    margin: 5px;
}

h2 {
    font-family: var(--main-font);
}

h3 {
    font-size: 2rem;
    margin: 0;
}

.profile {
  color: #FFA300;
}

#header-text {
    flex-basis: 80%;
    display: flex;
   
}

#title {
  padding: 2px;

}



.navbar1 {
    max-width: 100%;
    padding: 1px;
    margin-top: 0px;
    font-weight: bolder;
    overflow: hidden; 
    font-family: 'Bowlby One', cursive;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffde59;
    text-shadow: .5px .5px teal;
    
  }
  
  .navbar1 a {
    float: left;
    font-size: 19px;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
  }

.navbar1 a:hover, .dropdown:hover .dropbtn {
    background-color:#46a4af;
    color: azure;
    
    
  }
  

a:link {
  text-decoration: none;
  color: #ffffff
}

a:visited {
  text-decoration: none;
  color: #ffffff
}

a:hover {
  text-decoration: none;
  color: #ffffff
}

a:active {
  text-decoration: none;
  color: #ffffff
}

footer {
  font-family: var(--main-font);
  text-align: center;
  font-size: 16px;
  padding: 20px;
  background-color: #6b469a;
  color: #fff;
}

.story_button2 {
  font-weight: bold;
  font-family: var(--main-font);
  background-color: #FFA300; 
  color: white;
  border: 2px solid #FFA300;
  padding: 10px;
  border-radius: 10px;
  margin-top: 0px;
}

.story_button2 a{
  background-color: #ffffff; 
  color: white;
  border: 2px solid #ffffff;
}

.story_button2 a:hover{
  background-color: #8246af; 
  color: white;
  border: 2px solid #ffffff;
}

#story-image {
  display: flex;
  width: 300px;
  height: 300px;
  
  }