.project-img{
    width: 65%;
    box-shadow: 0px 0px 5px gray;
    box-shadow: 5px 5px 5px gray;
    padding-bottom: 50px ;

}
.project-details img {
width: 100%;
height: 450px;
object-fit:cover;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Comfortaa:wght@300&family=Raleway:wght@100&display=swap');

:root {
    --main-font: 'Raleway', sans-serif;
}

.Palslogo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
 
}

.projectinfo {
text-align: center;
  font-size: 1.5rem;
  color: teal;
  font-weight: bolder;
  margin: 100px; 
}

.bulletpoint-text {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(230, 0, 0);
  font-weight: bolder;
  margin: 100px;
}